.menu-active #vis{
  background: white;
  right: 0px;
  z-index: 1000;
  top:60px;
  bottom:6px;
  border: 1px solid #BBBCC4;
}

/*.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}*/

.menu-active #left{
  right: 50%;
  border-radius: 7px 0 0 7px;
}

/*.menu-active div#content .menu-trigger {
  left: 294px;
}*/

#left{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#vis{
  /* width: calc( 100% - 300px ); */
  background: white;
  position: fixed;
  top:0;
  bottom: 0;
   max-width: 50%; 
   width: 100%; 
  right: -50%;
  z-index: 1000;
  border: 1px solid #BBBCC4;
  top:60px;
  bottom:6px;
}

.vis-tooltip{
  z-index: 5000
}