#wikiDIV_1 {
    /* margin: 0 auto; */
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 700px;
    text-decoration: none solid rgb(102, 102, 102);
    /* width: 758px; */
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 379px 286px;
    transform-origin: 379px 286px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
    padding: 104px 0px 74px;
}/*#wikiDIV_1*/

#wikiDIV_2 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 700px;
    max-width: 1024px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 758px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 379px 197px;
    transform-origin: 379px 197px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
}/*#wikiDIV_2*/

#wikiDIV_3 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 700px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 758px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 379px 197px;
    transform-origin: 379px 197px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
}/*#wikiDIV_3*/


#wikiDIV_4 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    float: left;
    height: 303px;
    left: 315.828px;
    min-height: 1px;
    position: relative;
    right: -315.833px;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 442.156px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 221.078px 151.5px;
    transform-origin: 221.078px 151.5px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 15px;
}/*#wikiDIV_4*/

#wikiIMG_5 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 300.172px;
    max-width: 100%;
    text-decoration: none solid rgb(102, 102, 102);
    width: 412.156px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 206.078px 150.078px;
    transform-origin: 206.078px 150.078px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_5*/

#wikiDIV_6 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    float: left;
    height: 700px;
    left: -442.167px;
    min-height: 1px;
    position: relative;
    right: 442.156px;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 315.828px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 157.906px 197px;
    transform-origin: 157.906px 197px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 15px;
}/*#wikiDIV_6*/

#H2_7 {
    box-sizing: border-box;
    color: rgb(68, 138, 255);
    height: 84px;
    text-decoration: none solid rgb(68, 138, 255);
    width: 285.828px;
    column-rule-color: rgb(68, 138, 255);
    perspective-origin: 142.906px 42px;
    transform-origin: 142.906px 42px;
    caret-color: rgb(68, 138, 255);
    border: 0px none rgb(68, 138, 255);
    font: normal normal normal normal 32px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    margin: 100px 0px 30px;
    outline: rgb(68, 138, 255) none 0px;
}/*#H2_7*/

#P_8 {
    white-space: nowrap;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 180px;
    max-width: 388px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 285.828px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 142.906px 90px;
    transform-origin: 142.906px 90px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 18px / 30px "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#P_8*/

#wikiDIV_11 {
    margin: 0 auto;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 462px;
    text-decoration: none solid rgb(102, 102, 102);
    /*width: 853px;*/
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 426.5px 231px;
    transform-origin: 426.5px 231px;
    caret-color: rgb(102, 102, 102);
    background: rgb(245, 252, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
    padding: 103px 0px 80px;
}/*#wikiDIV_1*/

#wikiDIV_21 {
    margin: 0 auto;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 279px;
    max-width: 1024px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 853px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 426.5px 139.5px;
    transform-origin: 426.5px 139.5px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
}/*#wikiDIV_2*/

#wikiDIV_31 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 279px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 853px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 426.5px 139.5px;
    transform-origin: 426.5px 139.5px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
}/*#wikiDIV_3*/

#wikiDIV_41 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    float: left;
    height: 246px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 497.578px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 248.781px 123px;
    transform-origin: 248.781px 123px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 15px;
}/*#wikiDIV_4*/

#IMG_51 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 243px;
    max-width: 100%;
    text-decoration: none solid rgb(102, 102, 102);
    width: 309.133px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 233.781px 121.5px;
    transform-origin: 233.781px 121.5px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_5*/

#wikiDIV_61 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    float: left;
    height: 279px;
    left: 0px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 355.406px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 177.703px 139.5px;
    transform-origin: 177.703px 139.5px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 12px / normal "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(102, 102, 102) none 0px;
    padding: 0px 15px;
}/*#wikiDIV_6*/

#H2_71 {
    box-sizing: border-box;
    color: rgb(68, 138, 255);
    height: 96px;
    text-decoration: none solid rgb(68, 138, 255);
    width: 325.406px;
    column-rule-color: rgb(68, 138, 255);
    perspective-origin: 162.703px 48px;
    transform-origin: 162.703px 48px;
    caret-color: rgb(68, 138, 255);
    border: 0px none rgb(68, 138, 255);
    font: normal normal normal normal 32px / 48px "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    margin: 6px 0px 27px;
    outline: rgb(68, 138, 255) none 0px;
}/*#H2_7*/

#BR_81 {
    box-sizing: border-box;
    color: rgb(68, 138, 255);
    text-decoration: none solid rgb(68, 138, 255);
    column-rule-color: rgb(68, 138, 255);
    caret-color: rgb(68, 138, 255);
    border: 0px none rgb(68, 138, 255);
    font: normal normal normal normal 32px / 48px "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(68, 138, 255) none 0px;
}/*#BR_8*/

#P_91 {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    height: 150px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 325.406px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 162.703px 75px;
    transform-origin: 162.703px 75px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 18px / 30px "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#P_9*/

#A_101 {
    box-sizing: border-box;
    color: rgb(68, 138, 255);
    text-decoration: none solid rgb(68, 138, 255);
    column-rule-color: rgb(68, 138, 255);
    user-select: none;
    caret-color: rgb(68, 138, 255);
    border: 0px none rgb(68, 138, 255);
    font: normal normal normal normal 18px / 30px "Helvetica Neue", "Microsoft Yahei", 微软雅黑, Helvetica, SimSun, SimHei;
    outline: rgb(68, 138, 255) none 0px;
}/*#A_101*/




